* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    background-color: #3e3e3e;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    letter-spacing: .3px;
}

h1,
h2,
p {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel {
    background: url("./images/background.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 25vw;
}

.left-panel h1 {
    font-size: 2.5rem;
    color: white;
    font-family: "Skranji", system-ui;
    font-stretch: condensed;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 10em;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    width: 60px;
    height: 60px;
}

.right-panel {
    background-color: whitesmoke;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.right-title {
    margin-top: 4em;
    padding: 1.5em;
}

.right-panel h1 {
    font-size: 1rem;
    font-weight: 500;
}

.right-panel h2 {
    font-size: 1rem;
    font-weight: 500;
}

.form {
    background-color: white;
    width: 100%;
    padding: 1.5em;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em; 
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

label {
    font-size: .65rem;
    font-weight: 500;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 5px 7px;
    outline: none;
    width: 225px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border: 1px solid #272aff;
}

input[type="password"]:invalid:required {
    border: 1px solid red;
}

.pw-error {
    color: red;
    margin: 0;
    font-size: 0.65rem;
}

.create-account {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #596d48;
    color: white;
    width: 165px;
    border-radius: 5px;
    font-weight: 600;
    padding-block: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    cursor: pointer;
}

p {
    font-size: .75rem;
    margin-top: 1em;
}

a {
    color: #596d48;
    font-weight: 600;
    text-decoration: none;
}